
.root {
  background:linear-gradient(to right top, orangered 50%, #ddd 50%) no-repeat;
  background-size:100% calc(100% - 100vh + 10px);
}

.aside {
  position: sticky;
  top: 0;
  background-color: #fafafa;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  max-width: 20rem;
  font-size: 0.8rem;
}

.trunk {
  padding-right: 1rem;
  margin-left: 1rem;
  width:100vw;

  position: sticky;
  top: 0;
  height: 100vh;
  overflow: scroll;
}



.header {
  text-align: center;
  margin: 10px 0;
}

.header > input {
  margin: 10px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  padding: 2px 3px;
  height: 28px;
  width: 80vw;
}


.main {
  display: flex;
  height: calc(100vh - 64px);
  background-color: white;
}

.main > section {
  padding: 32px;
}

.article {
  margin-bottom: 5rem;
  background-color: #fefefe;
}

.article p {
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.article iframe {
  display: block;
  margin:auto;
  width: 100%;
  height: 400px;
}

.breadcrumb {
  list-style: none;
  /* margin-bottom: 1rem; */
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li::before {
  content: "\00a0>\00a0";  
}

.breadcrumb li:first-child::before {
  content: "";
}

.sidedrawer {
  font-weight: bolder;
  font-size: 1rem;
  color: #f03a17;
}


