html,
body {
  padding: 0;
  margin: 0;
  font-size: 5mm;
  font-family: STHeiti,Apple LiGothic Medium,LiHei Pro Medium,STXihei;
}

a {
  /* color: #5a0a0a; */
  color: #8d1616;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover { color: #000000; }
  
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: STHeiti,Apple LiGothic Medium,LiHei Pro Medium,STXihei;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

  font-family: NSimSun, SimSun, Verdana, Geneva, Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  line-height: 150%;
  /* text-align: center; */
  /* color: rgb(55, 55, 55); */
  /* background: rgb(0, 0, 0); */
}
/* 
h1 {
  font-size: 2rem;
}

h2 {
  font-size:1.8rem;
  margin-top: 1rem;
}

h3 {
  font-size:1.6rem;
  margin-top: 1rem;
}

h4 {
  font-size: 1.4rem;
  margin-top: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 1.5rem;
}
*/

table, th, td {
  border: 1px solid black;
}
