

.header {
  display:flex;
  align-items:center;
  justify-content:center;
  position:sticky;
  top: 0;
  height: 3rem;
  background-color: #eee;
}

.header form {
  height:2rem;
  width: calc(100% - 5rem);
  max-width: 20rem;
}

.header input {
  height:100%;
  border:none;
  width: calc(100% - 3rem);
}

.header button {
  background: #bbb;
  float: right;
  border: none;
  height:100%;
  width: 3rem;
  cursor: pointer;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 2rem;
  border-top: 1px solid #ddd;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}



.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  padding: .5rem;
}


.card h2 {
  font-size: 1.5rem;
}

.card p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: row;
  }
}
